@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: #d9d9d9;
  font-family: "Inter", sans-serif;
  padding: 20px;
}
button {
  cursor: pointer;
}
a {
  color: #d9d9d9;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 1400px;
  margin: 0 auto;
}
.logo {
  font-size: 45px;
}
.nav__link {
  margin-left: 10px;
  font-size: 20px;
}
.hero {
  margin-top: 20px;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.content {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.title {
  font-size: 50px;
  max-width: 600px;
}
.description {
  max-width: 600px;
  margin: 20px 0;
}
.learn {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
}
.skill__title {
  text-align: center;
  margin-top: 150px;
  font-size: 50px;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}
.card {
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  max-width: 300px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.css {
  width: 400px;
}
.js {
  width: 250px;
}
